@using System.Web.Mvc.Html
@model IEnumerable<Mhotivo.Models.NewAcademicYearGradeSpecModel>

@{
    ViewBag.Title = "Configurar Año Académico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")

<h2>Configurar Año Académico</h2>
<div class="space"></div>
@using (Html.BeginForm("AutoGeneration", "AcademicYear", new {yearId=(long)ViewBag.YearId}, FormMethod.Post, new { id = "Form", @class = "form-horizontal", @Style = "margin:0;" }))
{
    @Html.EditorForModel()
    <p>
        <a href="~/AcademicGrade/Index?yearId=@ViewBag.YearId" data-dismiss="modal" class="btn btn-small">
            <i class="icon-remove"></i>
            Cancelar
        </a>

        <button type="submit" class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Agregar
        </button>
    </p>
}