* {
  font-family: verdana, arial, sans-serif;
}

.ful {
  width: 100%;
  float: left;
}

.half {
  width: 50%;
}

.fourth {
  width: 24.90%;
  border-right: 1px solid #cdcdcd;
  padding-bottom: 10px;
  flex: 1;
}

.fourth:last-child {
  border-right: 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center_block {
  margin: 0px auto;
  display: table;
}

.hide {
  display: none;
}

.center_text {
  text-align: center;
}

.relative {
  position: relative;
}

.container {
  width: 100%;
  border-radius: 10px;
}

.max {
  border: 1px solid #AAA;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.container_head {
  background-color: #009292;
  color: #fff;
  font-size: 28px;
  padding: 10px 1px;
  border-bottom: 1px solid #fff;
  border-radius: 10px 10px 0px 0px;
}

.column>div.list_head {
  color: #fff;
  padding: 8px 0px;
  font-size: 18px;
}

.all_col>div.list_head {
  background-color: #F6B939;
  border-right: 1px solid #BDA167;
}

.to_do_col>div.list_head {
  background-color: #E27A3F;
  border-left: 1px solid #EACBB9;
  border-right: 1px solid #421C07;
}

.progress_col>div.list_head {
  background-color: #1A95BE;
  border-left: 1px solid #B7B6D9;
  border-right: 1px solid #0A2742;
}

.complet_col>div.list_head {
  background-color: #27AE61;
  border-left: 1px solid #AABEB3;
}

.task-unit,
.create_task_box {
  margin: 10px 4% 0px;
  border: 1px solid #aaa;
  width: 80%;
  padding: 7px 15px 10px;
  border-radius: 5px;
  overflow: hidden;
}

.action_bar > .edit.right {
  margin-right: 10px;
  text-decoration: none;
  color: #90CAF9;
}

.action_bar > .remove {
  color: #90CAF9;
  text-decoration: none;
  margin-right: 1px;
}

.task-unit:hover .remove {
  display: block;
}

.action_bar .time {
  left: 0px;
  top: 0px;
  color: #90CAF9;
  font-size: 13px;
}

.action_bar {
  padding-top: 10px;
  border-top: 1px dashed #cdcdcd;
  margin-top: 5px;
}

.info> #task-description {
  padding: 5px;
  font-size: 13px;
}

.info > #TaskHeading {
  font-weight: 600;
  color: #666;
}

#task-description,
#TaskHeading {
  border: none;
  border-bottom: 1px solid #666;
}

#task-description.readonly,
#TaskHeading.readonly {
  border: none !important;
  box-shadow: none !important;
}

.add_task_button {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 9px;
  border-radius: 2px;
  background-color: #34A06E;
  color: #fff;
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.3) inset;
}

.info .input_label {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 13px;
  color: #666;
  padding: 3px;
  webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.info input[type="text"],
.info textarea {
  border: 1px solid #cdcdcd;
  padding: 10px 3px;
  width: 95%;
  box-shadow: none !important;
}

.info textarea {
  resize: none;
}

input[type="text"]:focus ~ .titl {
  top: -9px;
  color: #36A7FA;
}

.info textarea:focus ~ .desc {
  top: -9px;
  color: #36A7FA;
}

input[type="text"]:valid ~ .titl,
textarea:valid ~ .desc {
  top: -9px;
  color: #36A7FA;
}

.info>.info_val {
  margin: 10px 0px;
}

.progress {
  height: 3px;
  float: left;
  left: -20px;
  position: relative;
  bottom: -10px;
}

#todo .progress {
  background: #E27A3F;
  width: 60%;
}

#all .progress {
  background: #F6B939;
  width: 20%;
}

#progress .progress {
  background: #1A95BE;
  width: 90%;
}

#complete .task-unit {
  background: rgba(150, 220, 100, 0.8);
}

#complete .task-unit * {
  background-color: transparent;
}

#complete .action_bar {
  border-top: 1px dashed #67A13D;
}

#complete #TaskHeading {
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}

#complete .time {
  color: #089143;
}

#complete .action_bar > .edit.right {
  color: #089143;
}

#complete .time,
#complete #task-description {
  color: #089143;
}

#complete .remove {
  color: #089143;
}

#complete .progress {
  background: #27AE61;
  width: 120%;
}

.rel.draged {
  position: relative;
  border: 1px dashed #0E43FB;
  opacity: 0.7;
}

.pillers .temp_box {
  border: 1px dashed #0E43FB;
  width: 80%;
  height: 100px;
  opacity: 0.7;
  padding: 7px 15px 10px;
  border-radius: 5px;
  margin: 10px 4% 0px;
  display: none;
  background: #cdcdcd;
}

.temp_head {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.show {
  display: block;
}

.arrived.pillers .temp_box {
  display: block;
}

.done {
  color: #1A95BE;
}


/*paper stylus*/

.paper {
    top: 20px;
    margin: 20px auto;
    display: block;
    width: 100%;
    height: auto;   
    line-height: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid black;
    position: relative;
        /* gradients - second red border, first red border, top white space, blue lines */
    background-image:  -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -webkit-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -webkit-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -moz-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -moz-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -ms-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -ms-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -ms-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -ms-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -o-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -o-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -o-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -o-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-size: 1px, 1px, auto, auto 20px;
    background-repeat: repeat-y, repeat-y, no-repeat, repeat;
    background-position: 90% 0px, 10% 0px, 0px 0px, 0px 0px;
    
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.paper:first-line {
    line-height: 20px;
    vertical-align: baseline;
}
.paper:after {    
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background: rgba(255,255,255,1);
    top: 64px;
    margin-left: 3px;
    z-index: 10;
    -webkit-box-shadow: 
        inset 2px 2px 5px rgba(125,125,125,1),  
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),  
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
    -moz-box-shadow: 
        inset 2px 2px 5px rgba(125,125,125,1),  
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),  
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
    box-shadow: 
        inset 2px 2px 5px rgba(125,125,125,1),  
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),  
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
}

.paper:focus {
    outline: none;
}

p{ 
    text-align: justify;
    margin:10px 40px 0;
    font-size: 15px;
    color: black;
}